<div class="nav-bar">
  <h2 id="title" routerLink="/calculator">Do You Even Lift Bro?</h2>
  <ul *ngIf="showNavbar">
    <a routerLink="/calculator"><li class="Button"><p>Calculate Max</p></li></a>
    <a routerLink="/calculator" id="Logo"><li class="Button"><p>Logo Goes Here</p></li></a>
    <a routerLink="/goals"><li class="Button"><p>Set<br> Goals</p></li></a>
  </ul>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>

<a *ngIf="showSignIn" routerLink="/login" id="signin"><p id="signintxt">Sign In</p></a>

<div id="botContainer">
  <script type="text/javascript">
    (function(d, t) {
        var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
        v.onload = function() {
          window.voiceflow.chat.load({
            verify: { projectID: '65dd0c47c24a01a879ff6910' },
            url: 'https://general-runtime.voiceflow.com',
            versionID: 'production'
          });
        }
        v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
    })('script');
  </script>
</div>
