.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  background-color: #003365;
}

#signin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  text-decoration: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#signintxt {
  background-color: #003365;
  padding: 5px 10px;
  text-align: center;
  color: white;
  border-radius: 4px;
}

#title {
  color: white;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.Button {
  margin: 0 10px;
  font-size: 16px;
}

.inputLine{
  display: block;
  justify-items: center;
}

.inputButton {
  text-align: center;
}

form {
  text-align: center;
}

#safety {
  text-align: center;
}

.val{
  font-size: 24px;
}

@media screen and (max-width: 600px) {

  #Logo{
    display: none;
  }
  .nav-bar {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  #title {
    order: -1; /* Place the title as the first element on mobile */
    margin-bottom: 10px; /* Add some spacing below the title */
  }

  ul {
    margin-top: 10px; /* Add some spacing above the buttons */
  }
}